<% layout('layouts/boilerplate') %>

  <div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row flex-fill">
      <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
        <div class="card shadow">
          <img crossorigin="anonymous"
               src="https://images.unsplash.com/photo-1504280390367-361c6d9f38f4?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
               alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Login</h5>
            <form action="/login" method="post" class="validated-form">
              <div class="mb-3">
                <label class="form-label" for="username">Username</label>
                <input class="form-control" type="text" name="username" id="username" autofocus required>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="password" name="password" id="password" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div class="d-grid gap-2 mt-4"><button class="btn btn-success btn-block">Submit</button></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>